@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
  list-style: none;
}

.speckey li {
  padding-left: 3rem;
  background-image: url("/green_tick.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
  margin-bottom: 5px;
}
